<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>All skills!</h1>
<!-- 
	We have todos variable because of the key on the object
	on the render function in the controllers/todos/index function -->
	<ul>
    <a href = "/skills/new">Add To -Do</a>
		<% skills.forEach(s => { %>
		 <li>
			<form 
			    action = "/skills/<%= s.id %>?_method=DELETE" 
			    method = "POST"
			>
			<button type = "submit"> dele</button>

			</form>
			<a href="/skills/<%= s.id %>"><%= s.language %></a>

			-

			<%= s.used ? 'used' : 'not used' %>
		 </li>
		<% }) %>
	</ul>

</body>
</html>